<div id="<%= dom_id trait_weight %>">
  <p>
    <strong>Career:</strong>
    <%= trait_weight.career_id %>
  </p>

  <p>
    <strong>Trait1 weight:</strong>
    <%= trait_weight.Trait1_weight %>
  </p>

  <p>
    <strong>Trait2 weight:</strong>
    <%= trait_weight.Trait2_weight %>
  </p>

  <p>
    <strong>Trait3 weight:</strong>
    <%= trait_weight.Trait3_weight %>
  </p>

  <p>
    <strong>Trait4 weight:</strong>
    <%= trait_weight.Trait4_weight %>
  </p>

  <p>
    <strong>Trait5 weight:</strong>
    <%= trait_weight.Trait5_weight %>
  </p>

  <p>
    <strong>Trait6 weight:</strong>
    <%= trait_weight.Trait6_weight %>
  </p>

</div>
